
.about_first_section{
    padding-top: 10%;
}
.about_first_section .about_heading{
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    /* color: #111827; */
}

.first_section_bgImgs{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.rotate-center{
   background:#64e1b0;
    top: -20%;
    left: 10%;
    width: 419.259px;
    height: 842.878px;
    border-radius: 842.878px;
    opacity: 0.15;
    filter: blur(100px);
    animation: rotate-center 15s linear infinite;
}

/* second */  
.rotate-center-rev{
     top: -20%;
    right: 10%;
    background-color: #6d4df2;
    width: 419.259px;
    height: 842px;
    border-radius: 842px;
    opacity: 0.15;
    filter: blur(100px);
    animation: rotate-center 5s linear infinite;
}

@keyframes rotate-center {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* img */
.img-container{
    gap: 1rem;
    margin-top: 6rem;
}

.img-container img {
    border: 3px solid #fff;
    border-radius: 2%;
}
body.dark-mode .img-container img {
    border: 3px solid black
}


/* responsive */

@media (max-width: 578px) {
  
    .about_first_section{
        padding-top:40%;
        background: linear-gradient(to bottom, #ded8f7, #c0d2cb);
    }

    .about_first_section .about_heading {
    font-size: 28px;
  }
   .img-container {
    gap: 0.5rem;
    flex-direction: column;
  }
  .img-container img {
    width: 80% !important; 
  }
}
