.hero4_Heading{
    font-size: 4rem;
}
.Hero4_container{
    background-color: #f3f4f6;
}
.odometer{
    font-size: 48px;
}

@media (max-width:578px) {
    .hero4_Heading{
    font-size: 3rem;
}
.hero4_rightContainer{
    padding: 2rem 0;
    text-align: center;
}
.hero4_btns{
    display: row;
}
}