.scroll-container {
  padding-bottom: 10px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.blog-card {
  min-width: 320px; /* size of each card */
  width: 320px;
  position: relative;
  border-radius: 12px;
  background: white;
}

.blog-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.blog-category {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4070F4;
}

/* Scroll Buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  font-size: 22px;
  border: none;
  background: #fff;
  color: #4070F4;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  /* cursor: pointer; */
  z-index: 10;
}

.scroll-btn:hover {
  background: #4070F4;
  color: #fff;
}

.scroll-btn.left {
  left: -15px;
}

.scroll-btn.right {
  right: -15px;
}

/* Mobile: hide arrows */
@media (max-width: 768px) {
  .scroll-btn {
    display: none;
  }

  .blog-card {
    min-width: 85%;
  }
}
