.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 470px;
  /* background: #a38cff; */
  z-index: 1;
}

.carousel-track {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  width: 300px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
  cursor: pointer;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.card-content { 
  transition: all 0.5s ease;
  margin: 2rem;
}

.author p {
  margin-bottom: 1.5rem;
}
/* .active{
  display: block;
}
.inactive{
  display: none;
} */

/* .author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  transition: all 0.5s ease;
} */

.avatarImg {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.ratingImg {
 width: 10%;
}
.authorName{
  color: #7354f5;
}
.card-content{
  margin: 2rem;
}
