.serviceHeader{
    padding-top: 8rem;
    /* height: 800px;
    /* padding-bottom: 7rem; */
    /* background: linear-gradient(90deg, #d1f0f8, #e5d9ff);  */
    /* background-color: #d1f0f8; */
}

/* .S_firstSection_Container h3{
    font-size: 38px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 1rem;
    line-height: 1.2;
} */

.servicePageHeading{
    font-size:64px;
    color: #111827;
    font-weight: 400;
    margin-bottom: 5rem;
    line-height: 1.2;
}